<!-- <p>profile works!</p> -->
<section>
  <div class="ArtistCoverImage">
    <div class="ArtistInfo">
      <p class="artistTitle">Artist</p>

      <h3 class="artistName">Billie Eillish</h3>
      <p class="artistSongs">20+ songs</p>
    </div>
  </div>
  <h3>Top Playlist</h3>
  <div class="TopSongs" class="musicList">
    <div *ngFor="let musicCard of musicCards">
      <app-horizontal-music-card></app-horizontal-music-card>
    </div>
  </div>

  <div class="upcommingEvents"></div>
</section>
