<section>
  <!-- <p>dashboard of admin works!</p> -->

  <div [ngStyle]="{ 'background-image': 'url(' + imageUrl + ')' }" class="ArtistCoverImage">
    <div class="ArtistInfo">
      <p class="artistTitle">Artist</p>

      <h3 class="artistName">Billie Eillish</h3>
      <p class="artistSongs">20+ songs</p>
    </div>
  </div>
  <div class="AddSongs">
    <button class="btn button-light" matButton (click)="openDialog()">
      Add Songs
      <mat-icon>add </mat-icon>
    </button>
    <button class="btn button-light" matButton (click)="openDialog()">
      Add Event
      <mat-icon>confirmation_number </mat-icon>
    </button>
  </div>
  <div class="TopSongs">
    <h3>Top Songs</h3>

    <app-horizontal-music-card></app-horizontal-music-card>
  </div>

  <div class="upcommingEvents"></div>

  <app-music-player></app-music-player>
</section>
