@import "../../../assets/sharedVariables";

#glass.navbar {
  @include glassmorphism(
    $background-color: rgba(255, 255, 255, 0.05),
    $blur-radius: 20px,
    $border: 1px solid rgba(255, 255, 255, 0.545),
    $box-shadow: 0 16px 30px rgba(0, 0, 0, 0.277)
  );
  color: white;
  .nav-link {
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.693);
  }

  .nav-link:hover,
  .nav-link:focus,
  .nav-link.active {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.14);
    text-shadow: 1px 1px 2px rgba(251, 251, 251, 0.342);
  }
}

.nav-item:hover::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 2px;
  background-color: white;
  color: rgba(84, 15, 123, 0.7);
  border: 1px solid rgba(251, 251, 251, 0.408);
  border-radius: 4px;
  top: 50px;
  animation: width 1s alternate;
}
@keyframes width {
  from {
    width: 0;
  }
  to {
    width: 50px;
  }
}
.navbar {
  max-width: 80%;
  min-width: fit-content;
}

#glass {
  border-radius: 40px;
}
.nav-button {
  min-width: 150px;
  gap: 2px;
}
.navbar-brand {
  font-size: 1.4rem;
  font-weight: 600;
  color: $white;
  letter-spacing: 0.4px;
  opacity: 0.9;
  transition: opacity 0.3s;

  &:hover {
    opacity: 1;
  }
}
.navbar-toggler {
  font-size: small;
  padding: clamp(10px, 0.5rem, 1.2rem);
}
.navbarContainer:hover {
  transform: scale(1.02);
}
